###############################################################################
# REQUIRED FORMATTING:
# 1) Lines with '#' are ignored.
# 2) There must be an empty line at the end of the file.
# 3) There must be at least one space character between each item.
###############################################################################

PHYSICAL_SCREEN_HEIGHT   2.4
PHYSICAL_SCREEN_WIDTH    6.0
PHYSICAL_SCREEN_ORIGIN  -3.0 0.3 0.0
PHYSICAL_SCREEN_X_DIR    1.0 0.0 0.0
PHYSICAL_SCREEN_Y_DIR    0.0 1.0 0.0

CLIENT_IP                129.69.205.47
SERVER_IP                129.69.205.86    
NATNET_CMD_PORT          1510
NATNET_DATA_PORT         1511
VRPN_PORT                3884